*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;

}
.header{
	background-image: url("1.jpg");
	background-repeat: no-repeat;
	height: 50vh;
	background-size: cover;
}
.container h1{
	color: white;
	padding-top: 6%;
	padding-left: 24%;
	line-height: 1;
	font-size: 50px;
	letter-spacing: 3px;
}
.container p{
	color: white;
	padding-left: 24%;
	font-size: 20px;
	letter-spacing: 2px;
}
.header-nav{
	background-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
}
.header-nav ul li, 
.header-nav h1{
	display: inline-block;
}

.header-menu{
	align-items: center;
	position: absolute;
	padding-top: 5px;
	
}

.header-menu li{
	padding-left: 20px;
}

.social-icon{
	float: right;
	padding-top: 3px;
	margin-right: -130px;
}

.social-icon li{
	padding-left: 10px;
}

.column {
  float: left;
  width: 33.33%;
}

.column1 h1{
	justify-content: center;
	margin-left: 71%;
	color: white;
}
.column2{
	margin-left: 8%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.header-menu li a{
	color: white;
}

.header-menu li a:hover{
	border-bottom: 1px solid #5c6c83;
	color: #5c6c83;
	cursor: pointer;
}

.social-icon li a i{
	background-color:  white;
	border-radius: 50px;
	padding: 5px;
}

.social-icon li a i:hover{
	color: #ad94aa;
	cursor: pointer;
}

.portfolio-header{
	padding-top: 40px;
	padding-bottom: 40px;
}

.portfolio-header h1{
	font-size: 40px;
	color:  white;
}

.portfolio-header p{
	font-size: 20px;
	color:  white;
}

.wrapper {

  display: flex;
  justify-content: center;
  align-items: center;
}

.media {
  width: 350px;
  height: 200px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.media img{
	max-width: 100%;
      height: auto;
}

.media img:hover{
	cursor: pointer;
	transform: scale(1.2);
	transition: transform 2s;
	
}

#portfolio{
	background-color: #5c6c83 ;
	padding-bottom: 80px;
}

.quote{
	background-image: url("6.jpg");
	height: 40vh;
}

.quote h1{
	padding-top: 8%;
	color:  white;
}

.column-news {
  float: left;
}

.column-news-left{
	width:  20%;
}

.column-news-left1{
	width:  30%;
}

.column-news-right1{
	width:  30%;
}

.column-news-right{
	width:  20%;
}

.column-news-sec {
  float: left;
  width: 50%;

}

.column-news-sec p{
	background-color: #5c6c83;
	padding: 0px 5px;
	color: white;
	padding-left: 60px;
	font-size: 14px;
}

.column-news-cat a{
	float: right;
	font-size: 14px;
}


.column-news1 {
	margin: auto;
}

.news .card img{
	height: 160px;
	width: 400px;
	border-radius: 5px;
}

.news .card p{
	text-align: justify;
	font-size: 12px;
}

a{
	text-decoration: none;
	color: #5c6c83;
}

.news .card a{
	font-size: 12px;
	float: right;
}

.header-news h1{
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
}

.column-news2{
	padding-left: 70px;

}

.tags p span{
	background-color: #5c6c83;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	color: white;
}

.tags p span:hover{
	background-color: #ad94aa;
	cursor: pointer;
}

.news-sec h2{
	font-size: 16px;
}

.column-blog{
	float: left;

}

.column-blog-left{
	width: 25%;
}

.column-blog-left img{
	border-radius: 5px;
}

.column-blog-right{
	width: 75%;
}

.column-blog-right p{
	font-size: 12px;
	text-align: justify;
}

.column-blog-right a{
	font-size: 12px;
	text-align: justify;
}

.news {
	background-color: lightgray;
	padding-bottom: 70px;
}


.brands-view{
        align-items: center;
        text-align: center;
        background-color: #C1C4C4;
    }
    .brands-view img{
        padding-right: 45px;
        padding-left: 45px;
        filter: contrast(0%);
        padding-top: 60px;
        padding-bottom: 60px;
    }


    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .column-bio{
        float: left;
    }
    .column-bio-1{
        width: 20%;
    }
    .column-bio-2{
        width: 30%;
    }

    .column-bio-2 img{

    		border-radius: 50%;
    }

    .column-bio-2 h1{
        text-align: center;
        align-items: center;
        color: white;
        padding-bottom: 30px;

    }
    .column-bio-3{
        width: 30%;
    }
    .column-bio-3 h2{
        color: white;
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 15px;
    }
    .column-bio-3 p{
        color: white;
        text-align: justify;
        font-size: 12px;
        padding-bottom: 30px;
    }
    .column-bio-4{
        width: 20%;
    }
    .bio-header{
        font-weight: 700;
        text-align: center;
        padding-bottom: 40px;
    }

    .bio-header h1{
    		font-size: 30px;
    }

    .bio{
        background-color: #8a6956;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .contact{
        background-image: url("17.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .bio-icon li{
    	display: inline-block;
    	padding: 5px;
    	margin-left: 5px;
    	margin-top: 40px;
    	margin-bottom: 25px;
    	background-color: white;
    	border-radius: 50%;
    	filter: hue-rotate(150deg);
    }

    
    .contact-main h1,
    .contact-main p,
    .contact-tail p{
     color: white;
     line-height: 3;
    }
    .contact-main h2{
        border: 3px solid white;
        padding: 10px;
        width: 38%;
        color: white;
        font-size: 30px;

    }